/* Estilo del sidebar */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #00304d; */
  padding-top: 10px;
  overflow-y: auto;
  transition: width 0.3s;
}

/* Espacio superior para el botón */
.sidebar .sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

/* Estilo del contenido cuando el sidebar está colapsado */
.content {
  margin-left: 250px;
  transition: margin-left 0.3s;
}

/* Estilo del sidebar colapsado */
.sidebar.collapsed {
  width: 60px; /* Mantiene el ancho para mostrar los iconos */
}

.sidebar .collapse:not(.show) {
  max-height: 0;
}
.sidebar .collapse.show {
  max-height: 1000px;
}
.sidebar img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.sidebar .nav-link i {
  font-size: 1.5rem; /* Ajusta el tamaño según sea necesario */
}
/* Estilo del contenido cuando el sidebar está colapsado */
.content.collapsed {
  margin-left: 40px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* Estilo para los enlaces del sidebar */
.sidebar .nav-link {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover {
  background-color: #007bff;
}

/* Sangría constante para los elementos hijos */
.sidebar .nav .collapse .nav-link {
  padding-left: 40px; /* Tabulación constante para los hijos */
}

/* Iconos */
.sidebar .nav-item > .nav-link i {
  margin-right: 10px;
}

/* Iconos de los hijos */
.sidebar .nav-item .collapse .nav-link i {
  font-size: 0.9rem; /* Tamaño del icono de los hijos */
  margin-right: 8px;
}

/* Estilo del icono de menú hamburguesa */
.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 5px;
  transition: 0.4s;
}

/* Ocultar texto cuando el sidebar está colapsado */
.sidebar.collapsed .nav-link span.text {
  display: none;
}

/* Alinear iconos a la izquierda */
.sidebar .nav-link i {
  margin-right: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Asegura que el navbar esté por encima de otros elementos */
  background-color: #d9d9d9;
}
/* navbar boton */
.boton {
  border: none;
}

/* Ajustes del sidebar */
.sidebar {
  margin-top: 56px; /* Espacio para el navbar */
  height: calc(
    100vh - 56px
  ); /* Ajusta la altura del sidebar para tener en cuenta el navbar */
}

/* Ajuste del contenedor principal */
.content {
  margin-left: 250px;
  margin-top: 56px; /* Espacio para el navbar */
  transition: margin-left 0.3s;
  margin-bottom: 30px;
}

/* Estilo del sidebar colapsado */
.sidebar.collapsed {
  width: 60px; /* Mantiene el ancho para mostrar los iconos */
}

/* Estilo del contenido cuando el sidebar está colapsado */
.content.collapsed {
  margin-left: 60px;
}
/* Estilo de las cards */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  align-items: center;
  text-align: center;
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  color: #007bff;
}
.cardBox .card .cardName {
  color: #000000;
  font-size: 20px;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 60px;
  color: #676464;
}
.cardBox .card:hover {
  background: #e0dff5;
}
.grafica {
  position: relative;
  width: 40%;
  padding: 30px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.details {
  top: 100%;
  width: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 41%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #dedcdc;
  border-radius: 20px;
  padding: 10px;
}
.details2 {
  top: 700px;
  width: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 41%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #dedcdc;
  border-radius: 20px;
  padding: 10px;
}
.details3 {
  top: 1100px;
  width: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 41%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border: 1px solid #dedcdc;
  border-radius: 20px;
  padding: 10px;
}
.details .recentOrders,
.details2 .recentOrders,
.details3 .recentOrders {
  position: relative;
  display: grid;
  min-height: 300px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h1 {
  font-weight: 600;
  color: #ffffff;
}
.btnn {
  position: relative;
  padding: 5px 10px;
  background: #007bff;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
}
.details table,
.details2 table,
.details3 table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #000000;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.details .recentOrders table td,
.details2 .recentOrders table td,
.details3 .recentOrders table td {
  font-weight: 600;
  border: 1px solid #000000;
  text-align: center;
}
.details table thead tr,
.details2 table thead tr,
.details3 table thead tr {
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
  text-align: center;
}
.details .recentOrders table th,
.details2 .recentOrders table th,
.details3 .recentOrders table th {
  border: 1px solid #000000;
  text-align: center;
}

/* boton toggle */
.btnToggle{
  border: none;
  background: none;
}
.toggleContainer {
  position: relative;
  width: 90px;
  height: 30px;
}
.toggle {
  position: absolute;
  width: 0;
  height: 0;
  & + .switch {
    position: relative;
    display: block;
    background: red;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
  }
  &:checked + .switch {
    background: #00fd2a;
  }
  & + .switch:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    background: #320c0c;
    border-radius: 50%;
    margin: 0px 2px;
    left: 0%;
    transition: 1s;
  }
  &:checked + .switch:before {
    left: 100%;
    transform: translate(calc(-100% - 2px), -50%);
  }
}

/* Idioma  */
.en{
  color: #333;
}
.es{
  color: #00a1ff;
}

.check{
  position: relative;
  width: 50px;

}
.check:before{
  content:'' ;
  position: absolute;
  width: 50px;
  height: 25px;
  background: #333;
  border-radius: 25px;

}


.check:after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}

.check:checked:after{
  left: 25px;
  border: 2px solid #00a1ff;
}

.check:checked:before{
  background: #00a1ff;
}
/* Responsividad */
/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    transition: height 0.3s;
  }

  .sidebar.collapsed {
    height: 60px;
    overflow: hidden;
  }

  .content {
    margin-left: 0;
    margin-top: 60px;
  }
  .module-content {
    padding: 10px;
  }
  .sidebar .nav-link {
    font-size: 16px;
    padding: 10px 15px;
  }

  .sidebar.collapsed .nav-link span.text {
    display: none;
  }
  .sidebar.collapsed .collapse {
    display: none;
  }

  .sidebar.collapsed .nav-link i {
    font-size: 24px;
  }
}

/* Estilo para pantallas medianas (tabletas) */
@media (min-width: 577px) and (max-width: 768px) {
  .sidebar {
    width: 20%;
    height: 100%;
  }

  .sidebar.collapsed {
    height: 100%;
  }

  .content {
    margin-left: 40%;
  }

  .module-content {
    padding: 15px;
  }
}

/* Estilo para pantallas grandes (escritorios) */
@media (min-width: 769px) {
  .sidebar {
    width: 15%;
  }

  .sidebar.collapsed {
    width: 80px;
  }

  .content {
    margin-left: 250px;
  }

  .module-content {
    padding: 20px;
  }
}
